* {
    margin: 0;
    padding: 0;
    font-family: "Jura", sans-serif;
}


header.head {
    display: block;
    background-image: url('pictures/gory.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
     font-family: "Jura", sans-serif;
}
ul.nawigacja {
    display: flex;
    float: right;
    list-style-type: none;
    margin: 20px 30px;
}

ul.nawigacja li {
    font-size: 22px;
    margin: 15px;
}
ul.nawigacja li a {
    text-decoration: none;
    color: black;

}
ul.nawigacja li a:hover {
    color: cyan;
    font-size: 25px;
    border-bottom: 1px solid cyan; 
}

ul.nawigacja li a.one {
    color: blue;
    font-weight: 700;
}
/* --------------------------------------nawigacja skończona */

section {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%)
}
section h1 {
    color: rgb(35, 46, 171);
    text-align: center;
    font-size: 4em;
    animation-name: name;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}
section h3 {
    color: rgb(63, 71, 162);
    text-align: center;
    font-size: 2em;
    animation-name: h3;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes name {
    0%{
        color: black;
        transform: translate(-150%,-50%);
        opacity: 0;
    }
    100%{
        transform: translate(-0%,-50%);
        opacity: 1;
    }
}

@keyframes h3 {
    0%{
        color: black;
        transform: translate(+150%,-50%);
        opacity: 0;
    }
    100%{
        transform: translate(-0%,-50%);
        opacity: 1;
    }
}

@keyframes imageAnimation {
    from {
        
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



.powieksz {
    height: 70px;
    margin: 30px;
}
.image {
    text-align: center;
    animation-name: imageAnimation;
    animation-duration: 3s;
}

.powieksz:hover {
    height: 80px;
}
.imagetwo {
    text-align: center;
    animation-name: imageAnimation;
    animation-duration: 3s;
}

.all{
    height: 70px;
    margin: 30px;
    text-align: center;
    animation-name: szerokosc;
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: 2s;
    
}
.odpowiedzz:before {
    box-sizing: border-box;
    padding: 50px;
    content: "";
    opacity: 0;

    translate: inherit;
    transition: 1s;
}

.twopicture:hover ~ .odpowiedzz:before  {
    opacity: 1;
    content: "mateusz.kapron24@gmail.com";
    font-size: 25px;
    color: rgb(141, 216, 130);
    font-weight: 600;
    
}
.onepicture:hover ~ .odpowiedzz:before {
    opacity: 1;
    content: "661-360-889";
    font-size: 25px;
    color: rgb(199, 44, 44);
    font-weight: 600;
    letter-spacing: 5px;
}



/* koniec strony pierwszej ------------------------------------------------------------ */

.pageTwo {
    height: 100vh;
    width: 100%;
    /* background-color: #513e3e; */
    background-color: wheat;
}


.pageTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow:hidden;
    }
    
    .slider { 
        grid-area: 1 / 1 / 2 / 2; 
        
    }
    .opis { 
        border-left: 1px solid black;
        grid-area: 1 / 2 / 2 / 3; 
        text-align: center;
        justify-content: center;
    }



.opis h1 {
    padding: 30px;
    overflow: hidden;
    border: 1px solid black;
}

 .opis h3,h4, p {
     margin: 30px;
     font-size: 30px;
 }
 .opis__github {
         height: 80px;
        margin: 30px;
 }



    /* SLIDERRRRRR---------------------------- */


    .slider {
        max-width: 800px;
        margin: 10px;
      }
      
      .slider__images-container {
        position: relative;
        width: 100%;
        padding-bottom: 66.66667%;
      }
      
      .slider__image-container {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
      }
      
      .slider__image-container img {
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 800px;
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
      }
      
      .slider__image-container.slider__image-container--first {
        width: 100%;
      }
      
      .slider__image-container.slider__image-container--second {
        width: 50%;
      }
      
      .slider__divider {
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background: black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      
      .slider__divider .slider__handle {
        border-radius: 50%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        background: white;
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        cursor: pointer;
      }
      /*# sourceMappingURL=style.css.map */



  /* UMIEJETNOSCI */

    .center {
        text-align: center;
        margin: 30px;
        font-weight: 700;
    }

  .umiejetnosci {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100%;  
    }
    
    .umiejetnosci__pierwsze { 
        grid-area: 1 / 1 / 2 / 2; 
        margin: auto;
    }
    .umiejetnosci__dwa {
         grid-area: 2 / 1 / 3 / 2; 
         margin: auto;
    }
    .umiejetnosci__trzecie {
        grid-area: 3 / 1 / 4 / 2;
        margin: auto;
    }


    
.umiejetnosci img {
    height: 120px;
    margin: 40px;
    padding: 0px;
    transition: 1s;
}

.umiejetnosci__pierwsze, .umiejetnosci__dwa, .umiejetnosci__trzecie {
    display: flex;
    
}
.pudelko {
   position: relative;
   text-align: center;
  
}

.doswiadczenie { 
    opacity: 0;
    animation-duration: 2s; 
    animation-fill-mode: forwards;

}
.pudelko img {
    filter: brightness(0.8);
}

.umiejetnosci img:hover ~ .narzedzie {
    animation-name: stare;
    opacity: 1;
    animation-duration: 2s; 
    animation-fill-mode: forwards;
}
.umiejetnosci img:hover ~ .doswiadczenie  {
    animation-name: html;
}
.pudelko img:hover {
    filter: brightness(1);
}

@keyframes stare {
    0%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80px);
        opacity: 0;
    }

}

@keyframes html {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(-10px);
    }

}

/* KONIEC CZESCI UMIEJETNOSCI  */

/* CO MOGE ZAOFEROWAĆ */

.oferta {
    width: 100%;
    height: 100vh;
    background-color:#2b2f38;
    display: flex;
    flex-wrap: wrap;
}


.oferta__h1 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px dotted black;
}
.oferta div {
    position: relative;
    margin: 10px auto;
    text-align: center;
    height: 30%;
}
.oferta div > div {
    
    font-size: 30px;

}

.oferta img {
    height: 100px;
}


.oferta  nav {
    width: 100vw;
    top: 0px;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px dotted black;
    display: flex;
    flex-wrap: wrap; 
}
.stos__tech {
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    border-bottom: 1px solid black;
}
.stos p {
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    border-bottom: 1px dotted black;
}
.stos div {
    height: 30px;
    margin: 10px;
    padding: 20px;
}
.stos div img { 
    height: 50px;
}
