.project {
    position: relative;
    padding-bottom: 100px;
    background-color: #F6F6F6;
}

.single-project {
    img {
        width: 100%;
    }
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 20px;
    
}

.project-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    color: white;      
    background:rgba(28, 112, 157, 0.7);
    transform: translateX(-100%);
    padding: 5px;
    padding-top: 10px;
    transition: .4s;
}


.project-info:hover {
    transform: translateX(0);
}
.strona__img:hover ~.project-info {
    transform: translateX(0);
}
.img-pictures-github {
    height: 30px;
}

.project__h1 {
    width: 100%;
    height: 80px;
    font-size: 20px;
    text-align: center;
}
.project__p {
    font-size: 15px;
    width: 100%;
    height: 40px;
    text-align: center;
}
.info-text{
    font-size: 10px;
    transition: .4s;
    p{
        font-size: 10px;
    }
}

.btn.btn-light{
    font-size: 10px;
    margin: 0 10px;
}
.opis {
    font-size: 8px;
    margin: 0 50px;
    border-right: 1px solid black;
    border-radius: 10px;
}


@media (min-width: 500px) {
    .info-text{
        font-size: 22px;
        transition: .4s;
        p{
            font-size: 22px;
        }
    }
    .btn.btn-light{
        font-size: 15px;
        margin: 0 20px;
    }
}
.project__h1 {
    height: 80px;
    font-size: 25px;
}
.project__p {
    font-size: 20px;
    height: 40px;
}

.opis {
    font-size: 18px;
    margin: 0 100px;
}



@media (min-width: 900px) {
    .project__h1 {
        height: 120px;
        font-size: 30px;
    }
    .project__p {
        font-size: 25px;
        height: 40px;
    }

    .opis {
        font-size: 25px;
        margin: 0 100px;
    }
}
