.project {
    position: initial;
    padding-bottom: 100px;
    background-color: #dcdde1;
    width: 100vw;
    overflow: hidden;
  }
  
  .single-project {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 20px;
  }
  
  .single-project img {
    width: 100vw;
  }
  
  .project-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    color: white;
    background: rgba(28, 112, 157, 0.7);
    transform: translateX(-100%);
    padding: 5px;
    padding-top: 10px;
    transition: .4s;
  }
  
  .project-info:hover {
    transform: translateX(0);
  }
  
  .strona__img:hover ~ .project-info {
    transform: translateX(0);
  }
  
  .img-pictures-github {
    height: 30px;
    width: 100vw;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  
  .col-12.col-lg-6 {
    padding: 0;
  }
  
  .project__h1 {
    width: 100vw;
    height: 30px;
    font-size: 12px;
    text-align: center;
  }
  
  .project__p {
    font-size: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    img {
        width: 20px;
    }

  }
  
  .info-text {
    font-size: 10px;
    transition: .4s;
  }
  
  .info-text p {
    font-size: 10px;
  }
  
  .btn.btn-light {
    font-size: 10px;
    margin: 0 10px;
  }

  .opist {
    font-size: 12px;
    margin: 0 50px;
  }

  .opist__one {
    font-size: 12px;
    margin: 0 50px;
    margin-top: 20px;
  }

  @media(min-width: 350px) {
    .project__h1 {
        
        height: 60px;
        font-size: 18px;
        text-align: center;
      }
      
      .project__p {
        font-size: 15px;
        width: 100%;
        height: 30px;
        text-align: center;
        img {
            width: 100%;
        }
      }
      .opist {
        font-size: 15px;
      }
      .opist__one {
        font-size: 15px;
        margin-top: 40px;
      }
}



  @media (min-width: 500px) {
    .info-text {
      font-size: 22px;
      transition: .4s;
    }
    .info-text p {
      font-size: 22px;
    }
    .btn.btn-light {
      font-size: 15px;
      margin: 0 20px;
    }
  }
  
  
  @media (min-width: 900px) {
    .project__h1 {
      height: 120px;
      font-size: 30px;
    }
    .project__p {
      font-size: 25px;
      height: 40px;
    }
    .opist {
      font-size: 25px;
      margin: 0 100px;
    }
    .opist__one {
        font-size: 25px;
        margin: 0 100px;
      }

  }

  @media(min-width:1000px) {

    .project-info:hover {
      transform: translateX(-26%);
    }
    
    .strona__img:hover ~ .project-info {
      transform: translateX(-26%);
    }
  }