html {
    scroll-behavior: smooth;
}

.scrolling__ul {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    list-style-type: none;
}



.kropka {
    position: relative;
    width: 15px;
    opacity: 1;
    right: 20px;
    z-index: 999;
}

.home {
    position: absolute;  
    width: 60px;
    right: 10px;
    transform: translateX(-50%); 
    transition: .5s;    
    opacity: 0;
    color: black;
    font-size: 15px;
    z-index: 999;
}

.kropka:hover ~ .home {
    opacity: 1;
    transition: 1s;
}

.kropka:hover {
    background-color: black;
    border-radius: 50%;
    border: 2px solid white;
    transition: .3s;
}
.activ {
    color: rgb(17, 255, 17);
    opacity: 1;
}
.activ-color {
    background-color: rgb(17, 255, 17);
    border: 2px solid white;
    border-radius: 50%;
   
}
@media(max-width: 600px) {

    .home {
        font-size: 10px;
        width: 42px;
        right: 10px;
        margin-top: 3px;
    }



}