@charset "UTF-8";
html {
  margin: 0%;
  padding: 0%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
}

.head {
  display: block;
  background-image: url("../pictures/gory.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: "Jura", sans-serif;
  z-index: -1;
}

ul.nawigacja {
  display: flex;
  float: right;
  list-style-type: none;
  margin: 20px 30px;
  flex-wrap: wrap;
}

ul.nawigacja li {
  font-size: 22px;
  margin: 15px;
}

ul.nawigacja li a {
  text-decoration: none;
  color: black;
}

ul.nawigacja li a:hover {
  color: cyan;
  font-size: 25px;
  border-bottom: 1px solid cyan;
}

ul.nawigacja li a.one {
  color: blue;
  font-weight: 700;
}

ul.nawigacja li a {
  color: #4646c4;
}

/* --------------------------------------nawigacja skończona */
.sectionOne {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.sectionOne h1 {
  color: #232eab;
  text-align: center;
  font-size: 4em;
  animation-name: name;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  font-weight: 700;
}

.sectionOne h3 {
  color: #3f47a2;
  text-align: center;
  font-size: 2em;
  animation-name: h3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  font-weight: 700;
}

@keyframes name {
  0% {
    color: black;
    transform: translate(-150%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, -50%);
    opacity: 1;
  }
}

@keyframes h3 {
  0% {
    color: black;
    transform: translate(150%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, -50%);
    opacity: 1;
  }
}

@keyframes imageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.powieksz {
  height: 70px;
  margin: 30px;
}

.image {
  text-align: center;
  animation-name: imageAnimation;
  animation-duration: 3s;
}

.powieksz:hover {
  height: 80px;
}

.imagetwo {
  text-align: center;
  animation-name: imageAnimation;
  animation-duration: 3s;
}

.all {
  height: 70px;
  margin: 30px;
  text-align: center;
  animation-name: szerokosc;
  font-size: 30px;
  color: white;
  font-weight: 600;
  transition: 2s;
}

.odpowiedzz:before {
  box-sizing: border-box;
  padding: 50px;
  content: "";
  opacity: 0;
  translate: inherit;
  transition: 1s;
}

.twopicture:hover ~ .odpowiedzz:before {
  opacity: 1;
  content: "mateusz.kapron24@gmail.com";
  font-size: 25px;
  color: #8dd882;
  font-weight: 600;
}

.onepicture:hover ~ .odpowiedzz:before {
  opacity: 1;
  content: "661-360-889";
  font-size: 25px;
  color: #c72c2c;
  font-weight: 600;
  letter-spacing: 5px;
}

/* koniec strony pierwszej ------------------------------------------------------------ */
.pageTwo {
  width: 100%;
  /* background-color: #513e3e; */
  background-color: #95a5a6;
}

.pageTwo {
  overflow: hidden;
}

.slider {
  grid-area: 1 / 1 / 2 / 2;
}

.opis {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  margin: 10px;
}

.opis h1 {
  padding: 10px;
  overflow: hidden;
  max-width: 600px;
  margin: 10px auto;
}

.opis h3 {
  max-width: 800px;
  margin: 10px auto;
}

.opis h3, h4, p {
  font-size: 30px;
}

.opis__github {
  height: 80px;
  margin: 30px;
}

/* SLIDERRRRRR---------------------------- */
/* CO MOGE ZAOFEROWAĆ */
.oferta {
  width: 100vw;
  background-color: #34495e;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.oferta__h1 {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px dotted black;
}

.oferta div {
  position: relative;
  margin: 10px auto;
  text-align: center;
  /* height: 0%; */
}

.oferta div .oferta__opis {
  font-size: 40px;
}

.oferta div {
  font-size: 30px;
}

.oferta div > div {
  text-align: center;
  margin: 20px 0px;
}

.oferta img {
  height: 50px;
}

.oferta nav {
  width: 100vw;
  padding: 20px;
  border-bottom: 1px dotted black;
  display: flex;
  flex-wrap: wrap;
}

.stos .stos__tech {
  font-weight: 700;
  font-size: 30px;
  width: 100vw;
  border-bottom: 1px solid black;
}

.zaawansowane {
  font-weight: 700;
  font-size: 30px;
  width: 100vw;
  border-bottom: 1px dotted black;
  margin: 0px 30px;
}

.stos__reg {
  font-weight: 700;
  font-size: 30px;
  width: 100vw;
  padding: 20px 0;
  border-bottom: 1px dotted black;
}

.stos div {
  height: 50px;
  width: 100px;
  margin: 40px 30px;
  margin-bottom: 50px;
}

/* NOWA STRONA MOJE PROJEKTY */
/* -------------------------MEDIA */
@media (min-width: 100px) {
  .head {
    background-image: url("../pictures/gory-przyciete2.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
  }
  ul.nawigacja li {
    font-size: 16px;
  }
  ul.nawigacja li a:hover {
    color: cyan;
    font-size: 17px;
    border-bottom: 1px solid cyan;
  }
  .sectionOne {
    display: flex;
    float: right;
    list-style-type: none;
    margin: 20px 30px;
    flex-wrap: wrap;
    font-weight: 700;
  }
  .sectionOne a img {
    margin: 20px;
  }
  .sectionOne h1 {
    font-size: 18px;
    width: 100vw;
  }
  .sectionOne h3 {
    width: 100vw;
    font-size: 20px;
    font-weight: 700;
  }
  .sectionOne .image {
    width: 100vw;
  }
  .sectionOne .imagetwo {
    width: 100vw;
  }
  .all {
    height: 30px;
  }
  .powieksz {
    height: 30px;
  }
  .powieksz:hover {
    height: 35px;
  }
  /* strona 2 */
  .opis h1 {
    padding: 10px;
    min-width: 200px;
    overflow: hidden;
    border-radius: 5px;
  }
  .opis h3, h4, p {
    margin: 10px;
    font-size: 15px;
  }
  .opis__github {
    height: 40px;
    margin: 20px;
  }
  .oferta__h1 {
    height: 50px;
    font-size: 20px;
  }
  .oferta div {
    position: relative;
    margin: 20px auto;
    text-align: center;
  }
  .oferta div .oferta__opis {
    font-size: 15px;
  }
  .oferta div > div {
    text-align: center;
    margin: 20px 0px;
  }
  .oferta img {
    height: 30px;
  }
  /* .oferta  nav {
    width: 100vw;
    padding: 0px;
    border-bottom: 1px dotted black;
    display: flex;
    flex-wrap: wrap; 
} */
  .stos .stos__tech {
    font-weight: 700;
    font-size: 10px;
    width: 100%;
    margin: 5px;
    height: 20px;
    border-bottom: 1px solid black;
  }
  .zaawansowane {
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px dotted black;
    margin: 0px 20px;
  }
  .stos__reg {
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    padding: 0px 0;
    border-bottom: 1px dotted black;
  }
  .stos div {
    height: 50px;
    width: 100px;
    margin: 5px 5px;
    font-size: 15px;
  }
  .stos div > div {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .head {
    background-image: url("../pictures/gory-przyciete1.jpg");
    height: 100vh;
    width: 100vw;
  }
  ul.nawigacja li {
    font-size: 16px;
  }
  .sectionOne h1 {
    font-size: 3em;
  }
  .sectionOne h3 {
    font-size: 2em;
  }
  .all {
    height: 50px;
  }
  .powieksz {
    height: 50px;
  }
  .powieksz:hover {
    height: 60px;
  }
  /* strona 2 */
  .opis h3, h4, p {
    margin: 10px;
    font-size: 20px;
  }
  .opis__github {
    height: 60px;
    margin: 20px;
  }
  .oferta__h1 {
    height: 60px;
    font-size: 30px;
  }
  .oferta div {
    position: relative;
    margin: 20px auto;
    text-align: center;
  }
  .oferta div .oferta__opis {
    font-size: 20px;
  }
  .oferta div > div {
    text-align: center;
    margin: 25px 0px;
  }
  .oferta img {
    height: 40px;
  }
  /* .oferta  nav {
    width: 100vw;
    padding: 0px;
    border-bottom: 1px dotted black;
    display: flex;
    flex-wrap: wrap; 
} */
  .stos .stos__tech {
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    margin: 15px;
    height: 40px;
    border-bottom: 1px solid black;
  }
  .zaawansowane {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px dotted black;
    margin: 0px 10px;
  }
  .stos__reg {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    padding: 0px 0;
    border-bottom: 1px dotted black;
  }
  .stos div {
    height: 50px;
    width: 100px;
    margin: 10px 5px 10px 5px;
    font-size: 20px;
  }
  .stos div > div {
    margin: 0;
  }
}

@media (min-width: 900px) {
  .head {
    background-image: url("../pictures/gory.jpg");
    height: 100vh;
    width: 100vw;
  }
  /* Strona 2 */
  .opis h3 {
    max-width: 800px;
    margin: 10px auto;
  }
  .opis h4 {
    max-width: 800px;
    margin: 10px auto;
  }
  .opish4A2 {
    max-width: 900px;
    margin: 10px auto;
  }
  .oferta {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .oferta__h1 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px dotted black;
  }
  .oferta div {
    position: relative;
    margin: 10px auto;
    text-align: center;
    /* height: 0%; */
  }
  .oferta div .oferta__opis {
    font-size: 25px;
  }
  .oferta div {
    font-size: 30px;
  }
  .oferta div > div {
    text-align: center;
    margin: 10px 0px;
  }
  .oferta img {
    height: 50px;
  }
  .oferta nav {
    width: 100vw;
    padding: 20px;
    border-bottom: 1px dotted black;
    display: flex;
    flex-wrap: wrap;
  }
  .stos .stos__tech {
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .zaawansowane {
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    border-bottom: 1px dotted black;
    margin: 0px 30px;
  }
  .stos__reg {
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    border-bottom: 1px dotted black;
  }
  .stos div {
    height: 50px;
    width: 100px;
    margin: 40px 30px;
    margin-bottom: 50px;
  }
}

.formularz {
  width: 100vw;
  background-color: #7cafa4;
}

.formularz--opis {
  padding: 40px 40px 0px 40px;
  font-size: 25px;
}

.formularz--form {
  margin: 40px;
}

.btn-primary {
  margin-bottom: 40px;
}

@media (min-width: 500px) {
  .form-group {
    font-size: 25px;
  }
  .formularz--opis {
    font-size: 30px;
  }
}

footer {
  position: initial;
  width: 100vw;
  min-height: 40px;
  background-color: #534b4b;
  color: bisque;
  text-align: center;
  z-index: -1;
}

footer img {
  margin-right: 5px;
  height: 0px;
  filter: grayscale(90%);
}

footer img:hover {
  filter: grayscale(0%);
  transition: 1s;
}

.footer--img {
  height: 0px;
}

@media (min-width: 350px) {
  .footer--div {
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
  }
  .footer--icon {
    display: block;
    text-align: center;
  }
  .footer--img {
    display: block;
    float: right;
    margin-right: 10px;
    height: 40px;
  }
  .footer--icons {
    margin-top: 5px;
    border-radius: 10px;
  }
  footer {
    width: 100vw;
    min-height: 40px;
    background-color: #534b4b;
    color: bisque;
    text-align: center;
  }
  footer img {
    margin-right: 5px;
    height: 15px;
  }
}

@media (min-width: 500px) {
  .footer--icons {
    height: 30px;
    margin-left: 10px;
  }
  .footer--div {
    font-size: 15px;
  }
  .footer--img {
    margin-right: 30px;
  }
}

.project {
  position: initial;
  padding-bottom: 100px;
  background-color: #95a5a6;
  width: 100vw;
  overflow: hidden;
}

.single-project {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 20px;
}

@media (min-width: 1000px) {
  .single-project {
    height: 360px;
  }
}

@media (min-width: 1200px) {
  .single-project {
    height: 360px;
    max-width: 650px;
    margin-left: 50px;
  }
}

@media (min-width: 1400px) {
  .single-project {
    height: 360px;
    max-width: 650px;
    margin-left: 80px;
  }
}

@media (min-width: 1600px) {
  .single-project {
    height: 360px;
    max-width: 650px;
    margin-left: 100px;
  }
}

.single-project img {
  width: 100vw;
}

.project-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  color: white;
  background: rgba(28, 112, 157, 0.7);
  transform: translateX(-100%);
  padding: 5px;
  padding-top: 10px;
  transition: .4s;
}

.project-info:hover {
  transform: translateX(0);
}

.strona__img:hover ~ .project-info {
  transform: translateX(0);
}

.img-pictures-github {
  height: 30px;
  width: 100vw;
  text-align: center;
  align-content: center;
  align-items: center;
}

@media (min-width: 1600px) {
  .img-pictures-github {
    opacity: 0;
  }
}

.col-12.col-lg-6 {
  padding: 0;
}

.project__h1 {
  width: 100vw;
  height: 30px;
  font-size: 12px;
  text-align: center;
}

.project__p {
  font-size: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
}

.project__p img {
  width: 20px;
}

.info-text {
  font-size: 10px;
  transition: .4s;
}

.info-text p {
  font-size: 10px;
  flex-wrap: wrap;
}

.btn.btn-light {
  font-size: 10px;
  margin: 0 10px;
}

.opist {
  font-size: 12px;
  margin: 0 50px;
}

@media (min-width: 1200px) {
  .opist {
    max-width: 650px;
    margin: 0px 50px 0 50px;
  }
}

@media (min-width: 1400px) {
  .opist {
    margin: 0px 50px 0 80px;
  }
}

@media (min-width: 1600px) {
  .opist {
    margin: 0px 50px 0 100px;
  }
}

.opist__one {
  font-size: 12px;
  margin: 0 50px;
  margin-top: 20px;
}

@media (min-width: 350px) {
  .project__h1 {
    height: 60px;
    font-size: 18px;
    text-align: center;
  }
  .project__p {
    font-size: 15px;
    width: 100%;
    height: 30px;
    text-align: center;
  }
  .project__p img {
    width: 100%;
  }
  .opist {
    font-size: 15px;
  }
  .opist__one {
    font-size: 15px;
    margin-top: 40px;
  }
}

@media (min-width: 500px) {
  .info-text {
    font-size: 22px;
    transition: .4s;
  }
  .info-text p {
    font-size: 22px;
  }
  .btn.btn-light {
    font-size: 15px;
    margin: 0 20px;
  }
}

@media (min-width: 900px) {
  .project__h1 {
    height: 120px;
    font-size: 30px;
  }
  .project__p {
    font-size: 25px;
    height: 40px;
  }
  .opist {
    font-size: 25px;
    margin: 0 100px;
  }
  .opist__one {
    font-size: 25px;
    margin: 0 100px;
  }
}

@media (min-width: 1000px) {
  .project-info:hover {
    transform: translateX(-26%);
  }
  .strona__img:hover ~ .project-info {
    transform: translateX(-26%);
  }
  .info-text {
    max-width: 400px;
  }
  .info-text p {
    max-width: 400px;
    font-size: 16px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1400px) {
  .project-info:hover {
    transform: translateX(-30%);
  }
}

@media (min-width: 1500px) {
  .project-info:hover {
    transform: translateX(-32%);
  }
}

.polityka {
  color: #322c2c;
  text-decoration: none;
}

.polityka:hover {
  color: black;
}

.uwaga {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: rgba(209, 187, 187, 0.7);
}

.uwaga--polityka {
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 8px;
}

.uwaga--text {
  margin: 10px 20px;
  font-size: 8px;
}

.btn.btn-light {
  margin-right: 20px;
}

@media (min-width: 450px) {
  .uwaga--text {
    margin: 10px 20px;
    font-size: 12px;
  }
  .uwaga--polityka {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
  }
}

@media (min-width: 800px) {
  .uwaga--text {
    margin: 10px 20px;
    font-size: 16px;
    margin: 15px 50px;
  }
  .uwaga--polityka {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

.scrolling__ul {
  display: block;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  list-style-type: none;
  z-index: 999;
}

.kropka {
  position: relative;
  width: 15px;
  opacity: 1;
  right: 20px;
  z-index: 999;
}

.home {
  position: absolute;
  width: 40px;
  right: 55px;
  transform: translateX(-50%);
  transition: .5s;
  opacity: 0;
  color: black;
  font-size: 15px;
  z-index: 999;
}

.kropka:hover ~ .home {
  opacity: 1;
  transition: 1s;
}

.kropka:hover {
  background-color: black;
  border-radius: 50%;
  border: 2px solid white;
  transition: .3s;
}

.activ {
  color: #f8faf8;
  opacity: 1;
}

.activ-color {
  background-color: #f8faf8;
  border: 2px solid white;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .home {
    font-size: 10px;
    width: 15px;
    margin-top: 3px;
    right: 50px;
  }
}

.btnn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 15px;
  font-family: montserrat;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1, .btn2 {
  color: #3498db;
}

.btnn .btn2 .activi {
  border: 3px solid red;
  color: red;
}

@media (max-width: 600px) {
  .btnn {
    margin: 10px;
    font-size: 10px;
    padding: 4px 10px;
  }
  .btn2 {
    margin-left: 40px;
  }
}

/* UMIEJETNOSCI */
.center {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  width: 100vw;
  margin: 30px;
  font-weight: 700;
  background-color: #95a5a6;
  border-bottom: 1px solid black;
}

.umiejetnosci {
  display: grid;
  background-color: #95a5a6;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}

.umiejetnosci__pierwsze {
  grid-area: 1 / 1 / 2 / 2;
}

.umiejetnosci__dwa {
  grid-area: 2 / 1 / 3 / 2;
}

.umiejetnosci__trzecie {
  grid-area: 3 / 1 / 4 / 2;
}

.umiejetnosci img {
  height: 300px;
  margin: 40px;
  padding: 0px;
  transition: 1s;
}

.umiejetnosci__pierwsze, .umiejetnosci__dwa, .umiejetnosci__trzecie {
  display: flex;
  height: 200px;
}

.pudelko {
  position: relative;
  text-align: center;
}

.doswiadczenie {
  opacity: 0;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.pudelko img {
  filter: brightness(0.8);
}

.umiejetnosci img:hover ~ .narzedzie {
  animation-name: stare;
  opacity: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.umiejetnosci img:hover ~ .doswiadczenie {
  animation-name: html;
}

.pudelko img:hover {
  filter: brightness(1);
}

@keyframes stare {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}

@keyframes html {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

/* KONIEC CZESCI UMIEJETNOSCI  */
/* STRONA 3 UMIEJETNOSCI */
@media (min-width: 100px) {
  .center {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
  }
  .umiejetnosci img {
    height: 50px;
    margin: 0px;
    padding: 0px;
  }
  .umiejetnosci__pierwsze, .umiejetnosci__dwa, .umiejetnosci__trzecie {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
  }
  .pudelko {
    position: relative;
    text-align: center;
    margin: 5px;
    height: 90px;
    width: 60px;
  }
  .pudelko .narzedzie {
    font-size: 15px;
  }
  .doswiadczenie {
    font-size: 15px;
  }
}

/* Strona 4 co mozna zaoferowac  */
@media (min-width: 600px) {
  /* Strona 3 umiejetnosci */
  .center {
    font-size: 30px;
    margin: 0;
  }
  .umiejetnosci img {
    height: 60px;
    margin: 0px;
    padding: 0px;
  }
  .umiejetnosci__pierwsze, .umiejetnosci__dwa, .umiejetnosci__trzecie {
    display: flex;
    flex-wrap: wrap;
  }
  .pudelko {
    position: relative;
    text-align: center;
    margin: 20px;
    height: 90px;
    width: 60px;
  }
  .pudelko .narzedzie {
    font-size: 15px;
  }
  .doswiadczenie {
    font-size: 15px;
  }
}

/* strona 4 co mozna zaoferowac */
@media (min-width: 900px) {
  /* Strona 3 umiejetnosci */
  .center {
    font-size: 40px;
    margin: 0;
  }
  .umiejetnosci img {
    height: 70px;
    margin: auto;
    padding: 0px;
  }
  .umiejetnosci__pierwsze, .umiejetnosci__dwa, .umiejetnosci__trzecie {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
  }
  .pudelko {
    position: relative;
    text-align: center;
    margin: 50px;
    height: 90px;
    width: 60px;
  }
  .pudelko .narzedzie {
    font-size: 20px;
  }
  .doswiadczenie {
    font-size: 15px;
  }
}

/* Strona 4 stos technologiczny  */
